@charset "UTF-8";
/********** HTML style overriding ***************/
body {
	font-family:Arial,Helvetica, sans-serif;
	background-color: #2e3436;
	color:#dddddd;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	
}

a{
	color:#ffcc99;
	text-decoration:none;
}
a:hover{
	color:#ffcc99;
	text-decoration:underline;
}
a:active{
	outline: none;
}
:focus {
  -moz-outline-style: none;
}

fieldset {
	border:1px solid #888a85;
}
legend{
	color:#eeeeec;
	font-weight:bold;
	text-shadow: 1px 1px 1px #222;
}
fieldset fieldset{
	margin:5px 5px 5px 5px;
	border:1px dashed #888a85;
}
fieldset fieldset legend{
	font-weight:normal;
}

/************** front page ****************/

.ftop {
	background-color:#555753;
	height:60px;
	margin-top:30px;
}

.fheader{
	margin:auto;
	width:900px;
	height:100%;
	vertical-align:bottom;	
}
.ftitle{
	float:left;
	margin-top:10px;

}
.login{
	float:right;	
	margin-top:10px;
}
.flash{
	color:#ef2929;
	height:20px;
}
.fmain{
	margin:auto;
	width:900px;
	height:350px;
	padding:20px 0px 20px 0px;
}
.intro{
	width:550px;
	margin-top:50px;
	font-size:20px;
}
.signup{
	margin-top:80px;
	float:right;
	width:350px;
	border-top:1px solid #eeeeec;
	border-bottom:1px solid #eeeeec;
	padding: 5px 5px 5px 5px;
}
.fbottom{
	background-color:#555753;
	height:65px;
	margin-bottom:30px;
	text-align:center;

}
.fPageFooter{
	padding:10px 10px 10px 10px;
	height:40px;
}
/********** Common Page Style  ****************/


.header,.content, .pageFooter {
	margin:auto;
	width:950px;
}
.pageFooter{
	margin-top:10px;
	padding-top:10px;
	border-top:1px solid #888a85;
}

#global_container{
	overflow: auto;
}

.header_wrapper{
	background-color:#555753;
	padding: 5px 0px 5px 0px;
	height:30px;
	overflow: auto;
}

.header{
	height:100%;
}

.image_title{
	border:hidden;
	margin-top:5px;
}
.image_title:hover{
	background-color:#808080;
	-moz-border-radius: 4px;	
	border-radius: 4px;	
	-webkit-border-radius: 4px;	
}
/*
.menu {
	font-weight:bold;
}
.menu a{
	color:#eeeeec;
	text-decoration:none;
}
.menu a:hover{
	
	color:#73d216;
}
.menuitem{
	margin-right:10px;
}*/
.submenu{
	margin-top:15px;
	float:right;
	font-weight:bold;
}
.submenuitem{
	margin-right:5px;
}
.submenu a{
	color:#eeeeec;
	text-decoration:none;
}
.submenu a:hover{	
	color:#73d216;
}
.content {
	margin-top:20px;
	padding-left:10px;
	padding:0px;
	min-height:500px;
}
.inputtext{
	font-family: Verdana, Geneva, sans-serif;
	border: 1px solid #555753;
	font-size: 12px;
}

.small_title{
	font-size:14px;
	color:#dddddd;
	font-weight:bold;
	text-shadow:1px 2px 3px #222222;
}

.medium_title{
	font-size:18px;
	color:#dddddd;
	font-weight:bold;
}
.large_title{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#e9b96e;
	font-weight:bold;
	text-shadow:1px 1px 3px #222222;
}
.large_title a{
	color:#e9b96e;
}
.large_title a:hover{
	color:#fcaf3e;
	text-decoration:none;

}
.small_menu_box{
	padding:5px 5px 0px 5px;	
}
.content_box{
	
}
.underlined{
	border-bottom:1px solid #888a85;
	margin-bottom:5px;
}
.right_margined_5{
	margin-right:5px;
}
#project_menu a:hover{	
	text-decoration:none;
}
.selected{
	background-color:#555753;
	-moz-border-radius: 4px 4px 0px 0px;	
	border-top-left-radius: 4px;
	border-top-right-radius: 4px; 
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;

	
}
.container_box{
	width:100%;
}
.project_box_right{
	width:95%;
	margin:15px 0px 15px 10px;
}
.project_box_left{
	width:95%;
	margin:15px 10px 15px 0px;
}

.ui_small_button{
	border:1px solid #222222;
	background:#222222 url(/images/alert-overlay.png) repeat-x;
	color:#d3d7cf;	
	-moz-box-shadow:1px 1px 1px #111111;
	-webkit-box-shadow:1px 1px 1px #111111;
	box-shadow:1px 1px 1px #111111;

}
.ui_small_button:hover{
	border:1px solid #222222;
	background:#2e3436 url(/images/alert-overlay.png) repeat-x;
	color:#eeeeec;	
	-moz-box-shadow:1px 1px 1px #222222;
	-webkit-box-shadow:1px 1px 1px #222222;
	box-shadow:1px 1px 1px #222222;
}

.slient_text{
	color:#888a85;
}

.left {
	float:left;
}
.right {
	float:right;
}
.dotted_line{
	border-bottom:1px dotted #d3d7cf;
}
.submenu_box{
	margin-bottom:5px;
}
.top {
	vertical-align:top;
}
.thumbnail_photo{
	border:0px;
	margin-right:10px;
	display:block;
	
}
.right_col{
	width:65%;
	float:right;
}
.left_col{
	width:35%;
	float:left;
}
.record_row{
	vertical-align:top;
}
.project_desc{
	margin:20px 10px 0px 20px;
}
.project_title{
	padding:10px 500px 10px 20px;
	background-image:url("/images/project_background.png");
	background-repeat:no-repeat;
}
.project_title_box{
	width:100%;
	padding:5px 0px 10px 0px;
}
.page_title{
	height:40px;
	width:100%;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:20px;
	padding-top:5px;
	padding-left:20px;
	text-shadow:1px 1px 3px #222222;
	background-image:url("/images/pagetitle_background.png");
	background-repeat:no-repeat;	
}
.page_title a{
	color:#dddddd;
}
.page_title a:hover{
	color:#eeeeec;
	text-decoration:none;
}
.mute{
	color:#888A85;
}
.overflow{
	overflow:auto;
}
.invite{
	margin:5px 5px 5px 218px;
}
/****************** person ********************/
.person_box{
	width:80%;
	margin-left:30px;
}
.person_photo_frame{
	vertical-align:top;
	margin:0px 10px 10px 0px;
}
.person_photo_frame img{
	border:0px;
	display:block;
}
.person_photo_frame td{
	border-bottom:1px solid #555753;
}
.person_event_box{
}
.person_info{
	vertical-align:top;
}
.person_left_col{
	float:left;
}
.person_right_col{
	width:550px;
	float:left;	
}
.person_name{
	color:#dddddd;
	font-weight:bold;
	font-size:24px;

}

.person_content_container{
	margin-top:20px;
}

#person_menu a:hover{	
	text-decoration:none;
}
.person_action{
	padding-left:5px;
	color:#dddddd;
	text-decoration:none;
	display:block;
}
.person_action:hover{
	background-color:#555753;
	color:#dddddd;
	text-decoration:none;	
}
/***************** event ********************/
.document_property{
	margin-right:10px;
	vertical-align:top;	
}
/***************** event ********************/
.events{
	width:100%;	
}
.events table{
	width:100%;
}
.dcmt_form_container{
	margin:10px 10px 10px 10px
}
.event{
	width:80%;
}
.event_property{
	margin-right:10px;
	vertical-align:top;	
}

/*********** Pagination ****************/
.pagination{
	font-size:16px;
}
.pagination span, .pagination a, .pagination a:hover{
	padding: 0px 5px 0px 5px;	
	border:1px solid #222222;
}
.pagination span, .pagination a{
	background:#222222 url(/images/alert-overlay.png) repeat-x;
	-moz-box-shadow:1px 1px 1px #111111;
	-webkit-box-shadow:1px 1px 1px #111111;
	box-shadow:1px 1px 1px #111111;	
}
.pagination span{
	color:#222222;
}
.pagination a{
	color:#d3d7cf;
}
.pagination a:hover{
	color:#eeeeec;	
	background:#2e3436 url(/images/alert-overlay.png) repeat-x;
	-moz-box-shadow:1px 1px 1px #222222;
	-webkit-box-shadow:1px 1px 1px #222222;
	box-shadow:1px 1px 1px #222222;	
	text-decoration:none;
}

