<%= javascript_include_tag "bridge/FABridge" %>
<% javascript_tag do%>

var flex;
document.observe("dom:loaded", function() {
	FABridge.addInitializationCallback( "flex", initCallback );   
});

var initCallback = function() {  
   flex = FABridge.flex.root();  
   flex.setRoot(<%=@person.id%>);
}  

<% end %>
<!--<a onclick="flex.show_msg('<%=@person.name%>');">Flex-Ajax bridge test</a>-->
<div class="flexvis" style="z-index: ">
	<object type="application/x-shockwave-flash" data="/vis/genvis.swf" width="900" height="500">
  		<param name="vis" value="/vis/genvis.swf" />
  		<param name="wmode" value="transparent">
		<param name="allowFullScreen" value="true" />
	</object>			
</div>

