<fieldset class="collaborators">
	<legend>Collaborators</legend>
	<table>
		<tr>
			<td width="20%">Name</td>
			<td width="30%">Email</td>
			<td width="30%">Projects</td>
			<td width="20%"></td>
		</tr>
		<tr><td colspan="4" class="dotted_line"></td></tr>
		<% @user.collaborators.each do |collaborator|%>
			<tr>
				<td><%= link_to collaborator.profile.name, :controller=>"profile", :action=>"show_profile", :id=>collaborator.profile.id%></td>
				<td><%= collaborator.email %></td>
				<td>
					<% @user.projects.each do |project|%> 
						<% if collaborator.projects.include?(project)%>
							<%= link_to project.name, :controller=>"project", :action=>"show_project", :id=>project.id%>
						<% end %>
					<% end %>
				</td>
				<td>
					<%= link_to_remote_lightbox "Send Message", :url=>{:controller=>"inbox", :action=>"send_msg", :id=>@user.id}%>
				</td>
			</tr>
		<% end %>
	</table>
</fieldset>