<fieldset>
	<legend>Projects</legend>
	<table id="project_list" class="container_box">
		<tr>
			<td width="30%">Name</td>
			<td width="50%">Description</td>
			<td width="20%"><%=link_to_remote_lightbox "Create a New Project", {:url=>{:action=>"new_project"}}%></td>
		</tr>
		<tr><td colspan="3" class="dotted_line"></td></tr>
		<% @user.projects.each do |project|%>
			<%= render :partial=>"project", :locals=>{:project=>project}%>
		<% end %>
	</table>
</fieldset>
