<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/genvis_old.mxml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_DEBUG_URL" value="file:/Users/namwkim/Projects/TimeNets/cs294h%20social%20software/code/familystory/public/vis/genvis_old.swf"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROFILE_URL" value="file:/Users/namwkim/Projects/TimeNets/cs294h%20social%20software/code/familystory/public/vis/genvis_old.swf"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="genvis"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/Users/namwkim/Projects/TimeNets/cs294h%20social%20software/code/familystory/public/vis/genvis_old.swf"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/genvis"/>
<listEntry value="/genvis/src/genvis_old.mxml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
